.flowItem .infoBlock{padding-bottom: 10px;}
.flowItem .imgBlock { height:auto}
.flowItem .imgBlock img{ width: 100%; height: auto;}

.modalFrame .orgin { font-size: 0.75em; color: #b9b9b9;}
.modalFrame .modal-footer a { font-size: 0.75em; color: #b9b9b9; margin-left: 10px;}
.modalFrame .modal-footer a span { 
	color:#6d6d6d; 
	display:inline-block; 
	width: 33px; 
	height: 26px; 
	border: 1px solid #b9b9b9; 
	border-radius: 5px; 
	text-align:center;
	line-height: 26px;
	vertical-align: middle;
	font-size: 1em;
	margin-right: 5px;
}
